In [1]:
import pandas as pd

In [2]:
state_alpha_codes = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

In [3]:
# yale partisan dataset
partisan = pd.read_csv('PartisanYale.csv')
partisan = partisan[partisan.GeoType == 'State']
partisan['Code'] = partisan['GeoName'].map(state_alpha_codes)

In [5]:
partisan.drop(columns=['GeoType','GEOID'])

,Group,GeoName,TotalPop,congress,congressOppose,corporations,corporationsOppose,citizens,citizensOppose,regulate,...,humanOppose,consensus,consensusOppose,worried,worriedOppose,harmUS,harmUSOppose,affectweather,affectweatherOppose,Code
2,Dem,Alabama,1002395,76.146,7.743,78.097,5.923,75.321,8.584,86.680,...,23.220,63.587,15.148,75.875,24.264,73.523,12.055,79.397,2.891,AL
3,Dem,Alaska,52317,83.047,4.399,86.345,4.150,83.006,3.109,90.661,...,12.363,77.261,15.360,88.566,11.428,82.665,10.429,85.473,1.877,AK
4,Dem,Arizona,1255547,84.753,5.542,86.609,5.137,83.671,4.840,90.143,...,13.049,78.851,13.100,89.108,10.811,82.115,10.791,84.995,1.993,AZ
5,Dem,Arkansas,82227,82.500,7.283,83.593,5.701,80.278,5.923,88.921,...,17.279,68.200,15.933,83.295,16.747,78.755,12.731,81.890,2.793,AR
6,Dem,California,8095215,87.355,5.629,87.594,5.146,85.519,5.199,91.918,...,10.940,80.708,10.569,90.347,9.625,84.449,10.106,88.113,1.722,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Rep,Virginia,2037158,42.179,24.941,55.992,15.883,47.758,18.344,64.765,...,44.441,35.407,44.526,42.027,58.199,38.064,54.149,42.898,10.823,VA
98,Rep,Washington,1142865,36.032,31.857,53.252,17.858,44.937,19.676,61.790,...,50.153,36.116,45.963,40.582,59.296,38.660,54.180,44.534,11.295,WA
99,Rep,West Virginia,382355,32.262,34.085,51.395,15.325,45.210,16.900,60.017,...,53.804,26.158,49.911,30.497,69.362,30.241,60.468,34.488,11.673,WV
100,Rep,Wisconsin,1199268,37.730,26.090,55.396,14.397,46.300,17.836,64.213,...,46.405,33.894,45.706,38.961,61.007,36.952,54.673,42.398,11.349,WI
101,Rep,Wyoming,151556,28.630,36.278,54.894,11.902,46.709,13.483,58.214,...,59.745,24.875,51.841,28.816,70.903,28.997,61.400,38.110,10.372,WY

In [8]:
collective_df = pd.read_csv('state_ind_col.csv')
collective_df = collective_df.rename(columns={"State": "Code"})
collective_df.head()

  Code  Index
0   HI     91
1   LA     72
2   SC     70
3   MS     64
4   MD     63

In [9]:
collective_df.to_csv('collective_index_state_level.csv')

In [10]:
gdp_countries = pd.read_csv('gdp_countries.csv',skiprows=4)
gdp_countries.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       'Unnamed: 67'],
      dtype='object')

In [11]:
gdp_countries = pd.read_csv('gdp_countries.csv',skiprows=4)
gdp_countries=gdp_countries[['Country Code','1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']]

In [14]:
gdp_countries.to_csv('gdp_per_capita_countries.csv')

In [32]:
yale_data = pd.read_csv('yale.csv')
yale_data.head()

,varname,GEOID,GeoName,GeoType,2008,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,congress,1.0,Alabama,State,58.981908,49.802614,49.765859,53.228234,51.458185,47.786980,53.212674,52.105523,54.264808,57.941226,54.301949,54.258945,54.046
1,congress,2.0,Alaska,State,60.132746,46.002393,49.131080,51.257517,50.987592,49.746340,54.457395,55.638666,58.447552,59.277305,57.337735,55.995996,57.283
2,congress,4.0,Arizona,State,61.998327,50.883474,52.868549,55.486015,52.692013,52.763085,56.921733,58.611543,60.467437,61.793629,59.464964,58.594975,60.166
3,congress,5.0,Arkansas,State,59.723048,48.937187,48.386756,52.154763,50.748722,48.179800,53.114320,52.970622,55.432803,57.857793,55.320774,54.950286,56.360
4,congress,6.0,California,State,65.641937,55.107412,57.686804,62.078066,61.100128,59.067086,64.717127,68.530911,67.226963,68.363890,66.629989,62.498390,65.822

In [33]:
yale_data = yale_data[yale_data.GeoType == 'State']
yale_data.shape

(6987, 17)

In [34]:
yale_data['Code'] = yale_data['GeoName'].map(state_alpha_codes)

In [35]:
yale_data.drop(columns=['GEOID','GeoName','GeoType'],inplace=True)

In [36]:
yale_data.head()

,varname,2008,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,Code
0,congress,58.981908,49.802614,49.765859,53.228234,51.458185,47.786980,53.212674,52.105523,54.264808,57.941226,54.301949,54.258945,54.046,AL
1,congress,60.132746,46.002393,49.131080,51.257517,50.987592,49.746340,54.457395,55.638666,58.447552,59.277305,57.337735,55.995996,57.283,AK
2,congress,61.998327,50.883474,52.868549,55.486015,52.692013,52.763085,56.921733,58.611543,60.467437,61.793629,59.464964,58.594975,60.166,AZ
3,congress,59.723048,48.937187,48.386756,52.154763,50.748722,48.179800,53.114320,52.970622,55.432803,57.857793,55.320774,54.950286,56.360,AR
4,congress,65.641937,55.107412,57.686804,62.078066,61.100128,59.067086,64.717127,68.530911,67.226963,68.363890,66.629989,62.498390,65.822,CA

In [37]:
yale_data.to_csv('state_level_climate_opinion.csv')

In [38]:
individual_collective = pd.read_csv('6-dimensions-for-website-2015-08-16.csv',sep=';', na_values='#NULL!')
individual_collective['normalized_idv'] = 1 - (individual_collective['idv'] - individual_collective['idv'].min()) / (individual_collective['idv'].max() - individual_collective['idv'].min())
individual_collective.drop(columns=['country',	'pdi',	'mas',	'uai',	'ltowvs','ivr'],inplace=True)
individual_collective = individual_collective[~individual_collective.normalized_idv.isna()]

In [42]:
individual_collective.rename(columns={'ctr': 'Code'}, inplace=True)

In [44]:
individual_collective.to_csv('collective_index_country_level')

In [5]:
data = pd.read_csv('/Users/Nischal/Documents/sunwater/WVS_Cross-National_Wave_7_csv_v5_0.csv')
country_Q196 = data[['B_COUNTRY_ALPHA','Q196','W_WEIGHT']]
country_Q196 = country_Q196[country_Q196.Q196 > 0]
print(country_Q196.head())
country_Q196.Q196 = country_Q196.Q196.apply(lambda x: 1 if x == 1 else 0)
country_Q196['weighted_Q196'] = country_Q196.Q196 * country_Q196.W_WEIGHT
country_Q196.drop(columns=['Q196','W_WEIGHT'],inplace=True)
country_Q196 = country_Q196.groupby('B_COUNTRY_ALPHA')['weighted_Q196'].mean().reset_index()
country_Q196

/var/folders/h1/_0238p116qdc782gkpb3sd000000gp/T/ipykernel_1963/2083740708.py:1: DtypeWarning: Columns (345,347,349,574,575,576) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/Users/Nischal/Documents/sunwater/WVS_Cross-National_Wave_7_csv_v5_0.csv')

  B_COUNTRY_ALPHA  Q196  W_WEIGHT
0             AND     2       1.0
1             AND     1       1.0
2             AND     4       1.0
3             AND     2       1.0
4             AND     1       1.0

   B_COUNTRY_ALPHA  weighted_Q196
0              AND       0.347956
1              ARG       0.196514
2              ARM       0.191286
3              AUS       0.405850
4              BGD       0.617438
..             ...            ...
58             URY       0.338637
59             USA       0.229627
60             VEN       0.220168
61             VNM       0.145833
62             ZWE       0.211314

[63 rows x 2 columns]

In [8]:
data = pd.read_csv('/Users/Nischal/Documents/sunwater/WVS_Cross-National_Wave_7_csv_v5_0.csv')
country_Q30 = data[['B_COUNTRY_ALPHA','Q30','W_WEIGHT']]
country_Q30 = country_Q30[country_Q30.Q30 > 0]
country_Q30.Q30 = country_Q30.Q30.apply(lambda x: 1 if x == 1 else 0)

country_Q30['weighted_Q30'] = country_Q30.Q30 * country_Q30.W_WEIGHT
country_Q30.drop(columns=['Q30','W_WEIGHT'],inplace=True)
country_Q30 = country_Q30.groupby('B_COUNTRY_ALPHA')['weighted_Q30'].mean().reset_index()
country_Q30

/var/folders/h1/_0238p116qdc782gkpb3sd000000gp/T/ipykernel_1963/4206560959.py:1: DtypeWarning: Columns (345,347,349,574,575,576) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/Users/Nischal/Documents/sunwater/WVS_Cross-National_Wave_7_csv_v5_0.csv')

   B_COUNTRY_ALPHA  weighted_Q30
0              AND      0.006993
1              ARG      0.043271
2              ARM      0.061724
3              AUS      0.010548
4              BGD      0.189446
..             ...           ...
59             URY      0.009903
60             USA      0.020672
61             VEN      0.057143
62             VNM      0.035000
63             ZWE      0.058775

[64 rows x 2 columns]

In [4]:
data = pd.read_csv('/Users/Nischal/Documents/sunwater/WVS_Cross-National_Wave_7_csv_v5_0.csv')
country_Q197 = data[['B_COUNTRY_ALPHA','Q197','W_WEIGHT']]
country_Q197 = country_Q197[country_Q197.Q197 > 0]
country_Q197.Q197 = country_Q197.Q197.apply(lambda x: 1 if x == 1 else 0)

country_Q197['weighted_Q197'] = country_Q197.Q197 * country_Q197.W_WEIGHT
country_Q197.drop(columns=['Q197','W_WEIGHT'],inplace=True)
country_Q197 = country_Q197.groupby('B_COUNTRY_ALPHA')['weighted_Q197'].mean().reset_index()
country_Q197

/var/folders/h1/_0238p116qdc782gkpb3sd000000gp/T/ipykernel_1963/86426800.py:1: DtypeWarning: Columns (345,347,349,574,575,576) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/Users/Nischal/Documents/sunwater/WVS_Cross-National_Wave_7_csv_v5_0.csv')

   B_COUNTRY_ALPHA  weighted_Q197
0              AND       0.036853
1              ARG       0.093638
2              ARM       0.132262
3              AUS       0.070194
4              BGD       0.247544
..             ...            ...
58             URY       0.107856
59             USA       0.046666
60             VEN       0.051261
61             VNM       0.040833
62             ZWE       0.150125

[63 rows x 2 columns]

In [6]:
data = pd.read_csv('/Users/Nischal/Documents/sunwater/WVS_Cross-National_Wave_7_csv_v5_0.csv')
country_Q188 = data[['B_COUNTRY_ALPHA','Q188','W_WEIGHT']]
country_Q188 = country_Q188[country_Q188.Q188 > 0]
country_Q188.Q188 = country_Q188.Q188.apply(lambda x: 1 if x == 1 else 0)

country_Q188['weighted_Q188'] = country_Q188.Q188 * country_Q188.W_WEIGHT
country_Q188.drop(columns=['Q188','W_WEIGHT'],inplace=True)
country_Q188 = country_Q188.groupby('B_COUNTRY_ALPHA')['weighted_Q188'].mean().reset_index()
country_Q188

/var/folders/h1/_0238p116qdc782gkpb3sd000000gp/T/ipykernel_1963/2442896937.py:1: DtypeWarning: Columns (345,347,349,574,575,576) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/Users/Nischal/Documents/sunwater/WVS_Cross-National_Wave_7_csv_v5_0.csv')

   B_COUNTRY_ALPHA  weighted_Q188
0              AND       0.129909
1              ARG       0.495825
2              ARM       0.695407
3              AUS       0.133452
4              BGD       0.515000
..             ...            ...
59             URY       0.303495
60             USA       0.192038
61             VEN       0.488927
62             VNM       0.167500
63             ZWE       0.812242

[64 rows x 2 columns]

In [9]:
merged_df = country_Q188.merge(country_Q196,on='B_COUNTRY_ALPHA',how='outer')
merged_df = merged_df.merge(country_Q197,on='B_COUNTRY_ALPHA',how='outer')
merged_df = merged_df.merge(country_Q30,on='B_COUNTRY_ALPHA',how='outer')
merged_df.head()
#has missing values

  B_COUNTRY_ALPHA  weighted_Q188  weighted_Q196  weighted_Q197  weighted_Q30
0             AND       0.129909       0.347956       0.036853      0.006993
1             ARG       0.495825       0.196514       0.093638      0.043271
2             ARM       0.695407       0.191286       0.132262      0.061724
3             AUS       0.133452       0.405850       0.070194      0.010548
4             BGD       0.515000       0.617438       0.247544      0.189446

In [10]:
merged_df.rename(columns={'B_COUNTRY_ALPHA':'Code'},inplace=True)
merged_df.to_csv('WSV_country_opinion_weighted_variables.csv')

In [11]:
#per capita income state level
income = pd.read_csv('income.csv')
list_dates = ['2018','2017','2016','2015','2014','2013','2012','2011','2010','2009','2008']
for i in list_dates:
    income[i] = income[i].str.replace(',', '')
    income[i] = income[i].astype(float)
income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Code    51 non-null     object
 1   2018    51 non-null     float64
 2   2017    51 non-null     float64
 3   2016    51 non-null     float64
 4   2015    51 non-null     float64
 5   2014    51 non-null     float64
 6   2013    51 non-null     float64
 7   2012    51 non-null     float64
 8   2011    51 non-null     float64
 9   2010    51 non-null     float64
 10  2009    51 non-null     float64
 11  2008    51 non-null     float64
dtypes: float64(11), object(1)
memory usage: 4.9+ KB

In [13]:
income.to_csv('per_capita_income_state_level.csv')